cic-tc.pdf
cic-tc.out
cic-tc.TOC
cic-tc.aux
cic-tc.LOT
cic-tc.synctex.gz
cic-tc.lof
cic-tc.fls
cic-tc.blg
cic-tc.bbl
cic-tc.fdb_latexmk
cic-tc.log
*.aux
.Rproj.user
rscripts/barcharts/chart_graphs/adjustment_target_level-beginner_players.jpg
rscripts/barcharts/chart_graphs/adjustment_target_level-intermediate_players.jpg
rscripts/barcharts/chart_graphs/adjustment_target_level-veteran_players.jpg
rscripts/barcharts/chart_graphs/attack_avoidance_efficiency-beginner_players.jpg
rscripts/barcharts/chart_graphs/attack_avoidance_efficiency-intermediate_players.jpg
rscripts/barcharts/chart_graphs/attack_avoidance_efficiency-veteran_players.jpg
rscripts/barcharts/chart_graphs/attack_window_efficiency-beginner_players.jpg
rscripts/barcharts/chart_graphs/attack_window_efficiency-intermediate_players.jpg
rscripts/barcharts/chart_graphs/attack_window_efficiency-veteran_players.jpg
rscripts/barcharts/chart_graphs/completion_time-beginner_players.jpg
rscripts/barcharts/chart_graphs/completion_time-intermediate_players.jpg
rscripts/barcharts/chart_graphs/completion_time-veteran_players.jpg
rscripts/barcharts/chart_graphs/damage_dealt_per_10s-beginner_players.jpg
rscripts/barcharts/chart_graphs/damage_dealt_per_10s-intermediate_players.jpg
rscripts/barcharts/chart_graphs/damage_dealt_per_10s-veteran_players.jpg
rscripts/barcharts/chart_graphs/deaths_per_level-beginner_players.jpg
rscripts/barcharts/chart_graphs/deaths_per_level-intermediate_players.jpg
rscripts/barcharts/chart_graphs/deaths_per_level-veteran_players.jpg
rscripts/barcharts/chart_graphs/health_lost_per_encounter-beginner_players.jpg
rscripts/barcharts/chart_graphs/health_lost_per_encounter-intermediate_players.jpg
rscripts/barcharts/chart_graphs/health_lost_per_encounter-veteran_players.jpg
